<app-slider 
  [name]="'Peliculas'"
  [size]="'small'"
></app-slider>

<div class="center-body">
  <section id="content">
<!-- 
    <h2 class="subheader">Peliculas</h2>
    <p>
      peliculas works!
    </p>

    <h2>Mostrar primera película:</h2>
    {{films[0].title}}

    <h3>Numero de peliculas</h3>

    <div *ngIf="films.length <= 3">
      Hay pocas peliculas
    </div>

    {{films.length}}
    <hr>

    <h2 class="subheader">Peliculas</h2> -->
    
    <div id="articles" *ngIf="films">
      <div *ngFor="let film of films; let i = index;">
        <app-film [film]="film"></app-film>
      </div>
    </div>

  </section>

  <app-sidebar></app-sidebar>

  <div class="clearfix"></div>
</div>